/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,osdp-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		crst: led {
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
		};
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "none";
		in-polling-period-us = <1000>;
		in-report-size = <64>;
	};

};

&clk_hse {
	status="disabled";
};

&clk_hsi {
	status="okay";
};

&pll {
	mul = <15>;
	clocks = <&clk_hsi>;
	status="okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(60)>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_remap1_pb6 &usart1_rx_remap1_pb7>;
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_master_pa4 &spi1_sck_master_pa5
		&spi1_miso_master_pa6 &spi1_mosi_master_pa7>;

	pinctrl-names = "default";
	status = "okay";

	cs-gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;

	w25q16: spi-nor-flash@0 {
		compatible = "winbond,w25q16";
		spi-max-frequency = <25000000>;
		reg = <0>;
	};

};
